In [4]:
import pandas as pd

In [5]:
s1 = pd.core.series.Series([1,2,3])

In [7]:
s2  =pd.core.series.Series(["one","two","three"])

In [8]:
pd.DataFrame(data = dict(num = s1, word = s2))

   num   word
0    1    one
1    2    two
2    3  three