In [1]:
import pandas as pd

In [3]:
friend_dict = [{'name':'kwon','age':28,'sex':'m'},
              {'name':'lee','age':23,'sex':'f'}]

In [13]:
df = pd.DataFrame(friend_dict)

In [6]:
df

   name  age sex
0  kwon   28   m
1   lee   23   f

In [11]:
df = [['name','sex','age']]

In [8]:
df

[{'age', 'name', 'sex'}]

In [9]:
df = pd.DataFrame(friend_dict)

In [12]:
df

[['name', 'sex', 'age']]

In [14]:
df

   name  age sex
0  kwon   28   m
1   lee   23   f

In [15]:
df = df[['name','sex','age']]

In [16]:
df

   name sex  age
0  kwon   m   28
1   lee   f   23

In [17]:
firend_list = [['jone',28,'f'],['kane',27,'m']]

In [18]:
col_n = ['name','age','sex']

In [19]:
df1 = pd.DataFrame(firend_list,columns=col_n)

In [20]:
df1

   name  age sex
0  jone   28   f
1  kane   27   m